<div id="blog-modal" class="modal ad">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <!-- <p class="modal-card-title">2018: of taking actions</p> -->
      <img src="https://cdn-images-1.medium.com/max/2600/1*ssPaHnqjgTjkP0hwO8nGZw.png" alt="banner image">
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h1>2018: of taking actions</h1>
        <p>Last year a lot of things happened, this year I fought back, took actions, and kinda worked on my checklist. This was a very different year, a year full of things and events.</p>        
      </div>
    </section>
    <footer class="modal-card-foot has-space-between">
      <a href="#" onclick="blogModal.close(); return false;" class="has-text-grey">Read later</a>
      <a href="https://medium.com/@arpit_goyal/2018-of-taking-actions-8a5ca2f28630" onclick="blogModal.close(); return true;" target="_blank" class="has-text-primary">Read article</a>
    </footer>
  </div>
</div>