<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>

	<%= require('./_meta.ejs')({ data: htmlWebpackPlugin.options }) %>
	<%= require('./_favicons.ejs')() %>
	<%= require('./_schema.ejs')({ data: htmlWebpackPlugin.options }) %>

</head>
<body class="has-bg">
	<%= require('./_browserhappy.ejs')() %>

	<main class="container">
		<section class="section hero">
			<div class="hero-body">
				<section class="columns">
					<div class="column">
						<img src="/images/boxmyspace.png" alt="boxmyspace">
					</div>
					<div class="column">
						<img src="/images/ufaber.png" alt="ufaber">
					</div>
			  	</section>
				<section class="columns">
					<div class="column">
						<img src="/images/thankyouindia.png" alt="thankyouindia">
					</div>
					<div class="column">
						<img src="/images/explara.png" alt="explara">
					</div>
			  	</section>
				<section class="columns">
					<div class="column">
						<img src="/images/gojavas.png" alt="gojavas">
					</div>
					<div class="column">
						<img src="/images/parallellabs.png" alt="parallellabs">
					</div>
			  	</section>
				<section class="columns">
					<div class="column">
						<img src="/images/webengage.png" alt="webengage">
					</div>
					<div class="column">
						<img src="/images/townscript.png" alt="townscript">
					</div>
			  	</section>
		  	</div>
	  	</section>
	</main>

	<%= require('./_version.ejs')({ data: htmlWebpackPlugin.options }) %>
	<%= require('./_analytics.ejs')({ data: htmlWebpackPlugin.options }) %>
</body>
</html>
