<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>

	<%= require('./_meta.ejs')({ data: htmlWebpackPlugin.options }) %>
	<%= require('./_favicons.ejs')() %>
	<%= require('./_schema.ejs')({ data: htmlWebpackPlugin.options }) %>

</head>
<body class="has-bg is-work">
	<%= require('./_browserhappy.ejs')() %>

	<main class="container">
		<section class="section hero">
			<div class="hero-body">
				<section class="columns">
					<div class="column">
						<h1 class="title is-1 has-text-white is-uppercase">I build digital products</h1>
						<p class="subtitle is-4 has-text-white is-more-spaced">Starting from UX strategy to design, and finally to building tech products,<br>I have contributed to successful products in various stages.</p>
					</div>
				</section>
			</div>
			<div class="hero-body">
				<ul class="columns is-multiline work-cards">
					<li class="column is-6">
						<figure>
							<img src="/images/thankyouindia.png" alt="thankyouindia">
							<figcaption>
								<h3 class="is-hidden-mobile">Thank you India</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="http://www.startwiththankyou.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/explara.png" alt="explara">
							<figcaption>
								<h3 class="is-hidden-mobile">Explara</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="https://in.explara.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/webengage.png" alt="webengage">
							<figcaption>
								<h3 class="is-hidden-mobile">WebEngage</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="https://webengage.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/townscript.png" alt="townscript">
							<figcaption>
								<h3 class="is-hidden-mobile">Townscript</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="https://www.townscript.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/parallellabs.png" alt="parallellabs">
							<figcaption>
								<h3 class="is-hidden-mobile">Parallel Labs</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="https://parallellabs.io/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/boxmyspace.png" alt="boxmyspace">
							<figcaption>
								<h3 class="is-hidden-mobile">BoxMySpace</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="http://boxmyspace.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/gojavas.png" alt="gojavas">
							<figcaption>
								<h3 class="is-hidden-mobile">gojavas</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="http://gojavas.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
					<li class="column is-6">
						<figure>
							<img src="/images/ufaber.png" alt="ufaber">
							<figcaption>
								<h3 class="is-hidden-mobile">UFaber</h3>
								<span>Jacob Cummings</span>
								<a class="button is-primary"
									target="_blank"
									rel="noopener noreferrer"
									href="https://ufaber.com/">Take a look</a>
							</figcaption>
						</figure>
					</li>
			  	</ul>
			  	<br>
		  	</div>
	  	</section>
	</main>

	<%= require('./_version.ejs')({ data: htmlWebpackPlugin.options }) %>
	<%= require('./_analytics.ejs')({ data: htmlWebpackPlugin.options }) %>
</body>
</html>
