$color-primary: #293dd2;
$color-secondary: rgba($color-primary, 0.9);

$radius-large: 3px;

/* Bulma variables */
$primary: $color-primary;

/* Bulma selective imports */
@import "~bulma/sass/utilities/_all.sass";

@import "~bulma/sass/base/_all.sass";

@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/title.sass";

@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/level.sass";

@import "~bulma/sass/grid/_all.sass";

@import "~bulma/sass/layout/_all.sass";

body.has-bg{
	background-color: $color-primary;
	&.is-home{
		background: linear-gradient(90deg, $color-primary 0%, #a8d7ff 100%);
	}
	&.is-work{
		background-image: url('../assets/images/background.svg');
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
	}
}
.is-paddingless-vertical{
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.is-more-spaced{
	letter-spacing: 1px;
}

.has-underline{
	text-decoration: underline !important;
}
.no-padding{
	padding: 0!important;
}
.negative-margin-top{
	position: relative;
	top: -8px;
}
a.has-text-white:hover, a.has-text-white:focus {
    color: $white !important;
}
.image-container{
	position: relative;
	> img{
		position: absolute;
		width: 600px;
		max-width: 600px;
		left: -260px;
		bottom: 0;
	}
}
.i, .c{
	& + .c, & + .i{
		margin-left: 8px;
	}
}

.things-i-do{
	position: relative;
	overflow: hidden;
	img{
		position: absolute;
		height: 130px;
		right: 0;
		top: 10px;
	}
	p{
		width: 60%;
	}
}

.coming-soon{
    background: rgba(255, 255, 255, 0.6);
	&::before {
	    content: 'Coming Soon';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 100%;
	    width: 100%;
	    height: 100%;
	    background: rgba(255, 255, 255, 0.8);
	    text-align: left;
	    vertical-align: middle;
	    transition: top 0.05s;
	    font-size: 21px;
        line-height: 7;
        padding-left: 20px;
	}
	&:hover{
		&::before {
			top: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	body:not(.is-work){
		& .hero, & .hero-body{
			padding: 0!important;
		}
	}
}

.box{
	&, & .title{
		color: $color-secondary;
	}
}

.title.three:after {
  content:"Bakar";
  animation: spin 4s linear infinite;
}

@keyframes spin {
  00% { content: "Bakar" }
  10% { content: "Beer" }
  20% { content: "Bakwaas" }
  30% { content: "Bhand" }
  40% { content: "Blogging" }
  50% { content: "Bicycle" }
  60% { content: "Beaches" }
  70% { content: "Bowling" }
  80% { content: "atque" }
  90% { content: "fuga" }
}

.work-cards{
	li {
		position: relative;
		&:first-child { z-index: 8; }
		&:nth-child(2) { z-index: 7; }
		&:nth-child(3) { z-index: 6; }
		&:nth-child(4) { z-index: 5; }
		&:nth-child(5) { z-index: 4; }
		&:nth-child(6) { z-index: 3; }
		&:nth-child(7) { z-index: 2; }
		&:nth-child(8) { z-index: 1; }
	}
	figure {
		position: relative;
		img {
			max-width: 100%;
			display: block;
			position: relative;
			z-index: 10;
		}
	}
	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: $white;
		color: $color-primary;
		height: 100%;
		width: 100%;
		opacity: 0;
		backface-visibility: hidden;
		box-shadow: 0 0 0 0px #fff;
		transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
		h3, span, a{
			opacity: 0;
			transition: opacity 0s;
		}
	 	h3{
			margin-top: 63%;
			font-size: 1.5em;
		}
		span{
			display: none;
		}
		a{
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}
	figure:hover figcaption{
		opacity: 1;
		height: 130%;
		box-shadow: 0 0 0 10px #fff;
		h3, span, a{
			transition: opacity 0.3s 0.2s;
			opacity: 1;
		}
	}
}

@media screen and (max-width: $tablet - 1) {
	.work-cards figcaption a{
		left: 50%;
		bottom: 4px;
	    margin-left: -53px;
	    right: auto;
	}
}